
.swipe {
    position: absolute;
}

.cardContainer {
    width: 90vw;
    max-width: 260px;
    height: 300px;
}

.card {
    position: relative;
    background-color: #fff;
    width: 80vw;
    max-width: 260px;
    height: 300px;
    /*box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.30);*/
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}

.cardContent {
    width: 100%;
    height: 100%;
}


.card h3 {
    position: absolute;
    bottom: 0;
    margin-top: 0px;
    color: #fff;
}

.infoText {
    width: 100%;
    height: 28px;
    justify-content: center;
    display: flex;
    color: #fff;
    animation-name: popup;
    animation-duration: 800ms;
}