.back{
    
    min-height: 100vh;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(./back.png);
    background-position: center;
    background-size: cover;
}
        /* background-image: linear-gradient(45deg, #fe3872, #ff5948 );
        background-position: center;
        background-size: cover; */
    

.gallery {
    background-color: #322659;
    grid-column: full-start / full-end;
    border: 1.5px solid black;
    display: grid;
    border-radius: 7px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    padding: 1.1rem;
    grid-gap: 0.8rem;
    box-shadow: "5px 5px 5px black";

}



.gallery__item--1 {
    grid-row: 1 / span 3;
    grid-column: 1 / span 2;
}

.gallery__item--2 {
    grid-row: 1 / span 3;
    grid-column: 3 / span 3;
}

.gallery__item--3 {
    grid-row: 1 / span 2;
    grid-column: 6 / 7;
}

.gallery__item--4 {
    grid-row: 1 / span 2;
    grid-column: 7 / -1;
}

.gallery__item--5 {
    grid-row: 4/ span 2;
    grid-column: 1 / span 2;
}

.gallery__item--6 {
    grid-row: 4 / span 2;
    grid-column: 3 / span 2;
}

.gallery__item--7 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

.gallery__item--8 {
    grid-row: 3 / span 2;
    grid-column: 6 / span 2;
}

.gallery__item--9 {
    grid-row: 3 / span 3;
    grid-column: 8 / -1;
}

.gallery__item--10 {
    grid-row: 6 / span 2;
    grid-column: 1 / 2;
}

.gallery__item--11 {
    grid-row: 6 / span 2;
    grid-column: 2 / span 2;
}

.gallery__item--12 {
    grid-row: 6 / span 2;
    grid-column: 4 / 5;
}

.gallery__item--13 {
    grid-row: 5 / span 3;
    grid-column: 5 / span 3;
}

.gallery__item--14 {
    grid-row: 6 / span 2;
    grid-column: 8 / -1;
}

.gallery__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*to fit full image with apt aspect ration--height&width should be mentioned and the img needs to be placed inside a parewnt element*/
    display: inline-block;
    /*to avoid small white spaces below inline img element*/
    outline-offset: 0.8rem;
    transition: all .15s;

}

.gallery__img:hover {
    transform: scale(.95);
    outline: solid 12px #ECC94B;
    box-shadow: "5px 5px 5px black";
    z-index: 20;
}